<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="h1 navbar-brand" href="/en/home"><h2>MkParkingNav</h2></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav d-md-inline-flex">
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/en/home"><span><h6>Home</h6></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/en/parking-spot"><span><h6>Parking spot</h6></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/en/about"><span><h6>About</h6></span></a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group input-group-sm">
                <div class="mx-1"><a href="/mk/pocetna"><img th:src="@{../img/Flag_of_NorthMacedonia.svg.png}"
                                                             height="9" width="18"/></a></div>

                <div class="mx-1"><a href="/en/home"><img th:src="@{../img/Flag_of_GreatBritain.png}" height="9"
                                                          width="18"/></a></div>


                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="Search...">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary btn-number">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <a class="btn btn-light btn-sm ml-3" href="/logout">
                <i class="fa fa-shopping-cart"></i> Logout
            </a>
        </form>
    </div>
</nav>


<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to MkParkingNav!</h1>
        <h3>Home</h3>
    </div>
</section>

<section class="text-center">
    <div>
        <br/>
        <br/>
        <br/>
        <h3>Our website offers you the opportunity of finding<br/>
            parking spots in the nearby in the blink of an eye</h3>
    </div>
</section>



<footer class="page-footer font-small blue fixed-bottom ">
    <img th:src="@{../img/footer.png}" style="max-height: 360px; width: 100%;"/>
</footer>
</body>
</html>
