<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>

    <!--<script src="../static/img/scripts/script.js"></script>-->

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet"
          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
          type="text/css">


</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="h1 navbar-brand" href="/en/home"><h2>MkParkingNav</h2></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav d-md-inline-flex">
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/mk/pocetna"><span><h6>Почетна</h6></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/mk/parking-mesto"><span><h6>Паркинг место</h6></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/mk/za-nas"><span><h6>За нас</h6></span></a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group input-group-sm">
                <div class="mx-1"><a href="/mk/parking-mesto"><img th:src="@{../img/Flag_of_NorthMacedonia.svg.png}"
                                                                   height="9" width="18"/></a></div>

                <div class="mx-1"><a href="/en/parking-spot"><img th:src="@{../img/Flag_of_GreatBritain.png}" height="9"
                                                                  width="18"/></a></div>


                <input type="text" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="Search...">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary btn-number">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <a class="btn btn-light btn-sm ml-3" href="/logout">
                <i class="fa fa-shopping-cart"></i> Одјавете се
            </a>
        </form>
    </div>
</nav>


<div id="divMap">
    <div id='map' style="position:absolute; width: 100%; height: 100%"></div>
    <script>

        mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlZmFucG9wb3YiLCJhIjoiY2t5bWNmNzhyMHpsNjJ1dWY3YWN1djl5NCJ9.Co6Dydmul1RunbGNKpjilA';

        /*This is the code for geoLocation and for instantly setting up the map when the user first accesses the site.
        For finding the current position
        console.log(navigator.geolocation)
        navigator.geolocation.getCurrentPosition(successLocation,
            errorLocation, {
            enableHighAccuracy: true
        })

        function successLocation(position) {
            console.log(position)
            //It needs to be longitude first, and then latitude second.
            setupMap([position.coords.longitude,
                position.coords.latitude]);
        }

        function errorLocation(position) {
            console.log(position)
            setupMap(21.4254, 41.9981);
        }

        function setupMap(center) {
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: center,
                zoom: 15
            })
        }
        */
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [21.4254, 41.9981],
            zoom: 15
        });

        const nav = new mapboxgl.NavigationControl();
        map.addControl(nav);

        var directions = new MapboxDirections({
            accessToken: mapboxgl.accessToken,
        });

        map.addControl(directions, 'top-left');

        const geojson = {
            'type': 'FeatureCollection',
            'features': [
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Vero',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.42118466302621, 41.99511485358796]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Multistory Car Park Beko',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.428297880801658, 41.99375931169768]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Underground Parking Beverly Hills',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.416041511483716, 41.99353401275457]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking garage 13 Noemvri',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.437220428671548, 41.994773478053965]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Ramstor',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.425915732841673, 41.9931965484093]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Nova Makedonija',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.42239991011271, 41.99334230431486]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Post of Macedonia',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.429324757404046, 41.998349680274586]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Gradezhnici',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.427007328510218, 41.9980626413014]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking MVR',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.429710994994995, 41.98753698649251]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Lot - City of Skopje',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.42042441468618, 42.0043293647998]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Vero 2',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.421055743679748,41.99501820282662]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking City Park',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.4222573720957, 42.00646674536106]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Leptokarija',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.398181865778845, 42.00302263213478]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking AMSM',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.420111605044283, 41.99390120949542]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Auto Parking',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.43797568400413, 41.9998709385881]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking MPC',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.42672056756264, 41.99887669301253]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Treska',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.412354802383096, 41.995098490537394]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Uni Banka',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.42118466302621, 41.99511485358796]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Kresna Uprising',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.436895369002023, 41.99676236595534]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking POC',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.428699597837237, 41.99464656608799]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking MVR Prolet',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.43844866900178, 41.989956466382175]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking of the Macedonian Opera And Ballet',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.43770836900206, 41.99804166587512]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking of Municipality Centar',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.443374397837335, 41.998113619241224]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking TC Bunjakovec',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.420643569002067, 41.9984808391178]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Univerzalna',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.416861640166807, 41.99917053173316]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Continental',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.452345297836523, 41.99877033906336]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Dramski Teatar',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.40779846900223, 42.00268665656254]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Ekonomski Institut',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.437493197837, 41.98863813899125]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Multilevel Garage Philip II of Macedon',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.43978356346163, 41.99746235950855]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking SRC Kale Sever',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.431721697837474, 42.002977110980034]
                    }
                },{
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking ZOO',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.41780924016699, 42.00536678264072]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Public Parking Space',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.438028597837405, 42.000236411838905]
                    }
                },{
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking UKIM',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.444175169002143, 41.99888031226384]
                    }
                },
                {
                    'type': 'Feature',
                    'properties': {
                        'message': 'Parking Garage',
                        'iconSize': [50, 50]
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [21.43846754016688, 41.99966981953362]
                    }
                },



            ]
        };

        for (const marker of geojson.features) {
            // Create a DOM element for each marker.
            const el = document.createElement('div');
            const width = marker.properties.iconSize[0];
            const height = marker.properties.iconSize[1];
            el.className = 'marker';
            el.style.backgroundImage = `url("https://www.pngall.com/wp-content/uploads/2017/05/Map-Marker-PNG-HD.png")`;
            el.style.width = `${width}px`;
            el.style.height = `${height}px`;
            el.style.backgroundSize = '100%';

            el.addEventListener('click', () => {
                window.alert(marker.properties.message);
            });

            // Add markers to the map.
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
        }

    </script>
</div>
</body>
</html>